.container-about {
	width: 100%;

    padding-bottom: 4rem;
}

.size-container-about {
	width: 70%;
	margin: 0 auto;
}

.size-container-about h1 {
	color: var(--dark-text);

	text-align: center;
	font-size: 2.5rem;
	font-weight: 700;

	padding: 6rem 0 3rem;
}

.size-container-about  p {
	color: var(--dark-text);

	text-align: justify;
	text-indent: 3rem;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.5rem;

	margin: 1rem auto;
}

.container-about-contact {
	display: flex;
	justify-content: space-between;

	width: 20rem;

	margin: 2rem 0 0 auto;
}

.social {
	background-color: var(--social-midias);

    width: 5rem;
    height: 4rem;

    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.social:hover {
	background-color: var(--hover-social-midias);
}

@media (max-width: 590px) {

	.size-container-about {
		width: 65%;
	}

	.size-container-about h1 {
		font-size: 1.65rem;
		line-height: 2rem;
    
        padding: 3rem 0 1rem;
	}
	
	.container-about-contact {
		margin: 2rem auto;
	}
}

@media (max-width: 590px) {

	.size-container-about p {
		font-size: 1rem;
	}

	.container-about-contact {
		justify-content: space-around;
		width: 16rem;
	}

	.social {
		width: 4rem;
		height: 3.5rem;
	}
}